<div
  class="card card-task"
  style="width: 16rem"
  [ngClass]="{ reminder: tarefaCompleta.finish }"
>
  <div class="card-body">
    <i class="bi bi-0-circle"></i>
    <h3 class="card-title">{{ tarefaCompleta.task }}</h3>
    <h4 class="card-subtitle mb-2 text-body-secondary">
      {{ tarefaCompleta.category }}
    </h4>
    <a href="#" class="btn primary" (click)="onToggle(tarefaCompleta)">{{
      tarefaCompleta.finish ? "Habilitar" : "Finalizar"
    }}</a>
    <a href="#" class="btn secondary" (click)="onDelete(tarefaCompleta)"
      >Excluir</a
    >
  </div>
</div>
<br />
